{% extends "base.html" %}
{% block main %}
<div class="container">
    <h1 class="mt-5 text-light">Reservations</h1>

    {% if reservations %}
    <table class="table table-dark mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Start time</th>
                <th scope="col">End Time</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Table Number</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.start_time }}</td>
                    <td>{{ reservation.end_time }}</td>
                    <td>{{ reservation.table.restaurant.name }}</td>
                    <td>{{ reservation.table.table_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="mt-4">No reservations made yet</p>
{% endif %}
</div>
{% endblock main %}