{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-dark bg-dark"
      >
        <div class="container">
          <a class="navbar-brand" href="{% url "home" %}">Reservatom System</a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" href="{% url "reservations" %}" aria-current="page"
                  >Reservations
                  <span class="visually-hidden">(current)</span></a
                >
              </li>
                <li class="nav-item">
                  <a class="nav-link" id="username_info" value={{user.username}} href="#" aria-current="page"
                    >{{user.username}}

                    </a>
                    <span id="user_id" class="d-none">{{user.id}}</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "logout" %}" aria-current="page"
                    >Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "login" %}" aria-current="page"
                    >Login
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "register" %}" aria-current="page"
                    >Register
                    </a>
                </li>
                {% endif %}
              
            </ul>
          </div>
        </div>
      </nav>
      
    </header>
    <main>{% block main %}{% endblock main %}</main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={% static "js/index.js" %}></script>
    <script src={% static "js/weather.js" %}></script>
  </body>
</html>
